Dump after hash based groups
Congruence classes: 1 with total: 1 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      1
Dump after WPA based types groups
Congruence classes: 1 with total: 1 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      1
Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 1 with total: 1 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      1
Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 1 with total: 1 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      1
Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 1 with total: 1 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      1

Item count: 1
Congruent classes before: 1, after: 1
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Totally needed symbols: 0, fraction of loaded symbols: 0.00%

Mcu_Cmu_ClockFail_IRQHandler ()
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Clock_Ip_CMU_ClockFailInt ();
  # DEBUG BEGIN_STMT
  return;

}


