Dump after hash based groups
Congruence classes: 5 with total: 5 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      5
Dump after WPA based types groups
Congruence classes: 5 with total: 5 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      5
Worklist has been filled with: 4
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 5 with total: 5 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      5
Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 5 with total: 5 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      5
Worklist has been filled with: 4
Address reference subdivision created: 0 new classes.
Congruence classes: 5 with total: 5 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:      5

Item count: 5
Congruent classes before: 5, after: 5
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Totally needed symbols: 0, fraction of loaded symbols: 0.00%

Clock_Ip_SetPllPlldvOdiv2Output (const struct Clock_Ip_DividerConfigType * Config)
{
  uint32 RegValue;
  uint32 Instance;
  <unnamed type> _1;
  unsigned char _2;
  long unsigned int _3;
  struct PLL_Type * _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int iftmp.0_10;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = Config_8(D)->Name;
  _2 = Clock_Ip_au8ClockFeatures[_1][0];
  Instance_9 = (uint32) _2;
  # DEBUG Instance => Instance_9
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _3 = Config_8(D)->Value;
  iftmp.0_10 = MAX_EXPR <_3, 1>;
  # DEBUG DividerValue => iftmp.0_10
  # DEBUG BEGIN_STMT
  _4 = Clock_Ip_pxPll[Instance_9];
  RegValue_11 ={v} _4->PLLDV;
  # DEBUG RegValue => RegValue_11
  # DEBUG BEGIN_STMT
  RegValue_12 = RegValue_11 & 2181038079;
  # DEBUG RegValue => RegValue_12
  # DEBUG BEGIN_STMT
  _5 = iftmp.0_10 << 25;
  _6 = _5 & 2113929216;
  RegValue_13 = _6 | RegValue_12;
  # DEBUG RegValue => RegValue_13
  # DEBUG BEGIN_STMT
  _4->PLLDV ={v} RegValue_13;
  return;

}


Clock_Ip_SetPllPll0divDeDivOutput (const struct Clock_Ip_DividerConfigType * Config)
{
  uint32 RegValue;
  uint32 DividerIndex;
  uint32 Instance;
  <unnamed type> _1;
  unsigned char _2;
  unsigned char _3;
  struct PLL_Type * _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _21;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _1 = Config_13(D)->Name;
  _2 = Clock_Ip_au8ClockFeatures[_1][0];
  Instance_14 = (uint32) _2;
  # DEBUG Instance => Instance_14
  # DEBUG BEGIN_STMT
  _3 = Clock_Ip_au8ClockFeatures[_1][5];
  DividerIndex_15 = (uint32) _3;
  # DEBUG DividerIndex => DividerIndex_15
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _4 = Clock_Ip_pxPll[Instance_14];
  _5 ={v} _4->PLLODIV[DividerIndex_15];
  _6 = _5 & 2147483647;
  _4->PLLODIV[DividerIndex_15] ={v} _6;
  # DEBUG BEGIN_STMT
  _7 = Config_13(D)->Value;
  if (_7 != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  RegValue_17 ={v} _4->PLLODIV[DividerIndex_15];
  # DEBUG RegValue => RegValue_17
  # DEBUG BEGIN_STMT
  # DEBUG RegValue => RegValue_17 | 2147483648
  # DEBUG BEGIN_STMT
  _21 = RegValue_17 & 4293984255;
  RegValue_18 = _21 | 2147483648;
  # DEBUG RegValue => RegValue_18
  # DEBUG BEGIN_STMT
  _8 = _7 + 4294967295;
  _9 = _8 << 16;
  _10 = _9 & 983040;
  RegValue_19 = _10 | RegValue_18;
  # DEBUG RegValue => RegValue_19
  # DEBUG BEGIN_STMT
  _4->PLLODIV[DividerIndex_15] ={v} RegValue_19;

  <bb 4> [local count: 1073741824]:
  return;

}


Clock_Ip_SetCgmXDeDivStatWithoutPhase (const struct Clock_Ip_DividerConfigType * Config)
{
  uint32 DividerStatus;
  uint32 TimeoutTicks;
  uint32 ElapsedTime;
  uint32 StartTime;
  boolean TimeoutOccurred;
  uint32 RegValue;
  uint32 DividerShift;
  uint32 DividerMask;
  uint32 DividerIndex;
  uint32 SelectorIndex;
  uint32 Instance;
  <unnamed type> _1;
  unsigned char _2;
  volatile struct Clock_Ip_CgmMuxType * _3;
  unsigned char _4;
  unsigned char _6;
  unsigned char _7;
  int _8;
  long unsigned int _9;
  volatile struct Clock_Ip_CgmMuxType * _10;
  long unsigned int _11;
  long unsigned int _12;
  volatile struct Clock_Ip_CgmMuxType * _13;
  long unsigned int _14;
  long unsigned int TimeoutTicks.1_15;
  long unsigned int _16;
  long unsigned int _17;
  long unsigned int _18;
  long unsigned int _19;
  long unsigned int _20;
  <unnamed type> _21;
  long unsigned int _32;
  long unsigned int _46;

  <bb 2> [local count: 114863530]:
  # DEBUG BEGIN_STMT
  _1 = Config_26(D)->Name;
  _2 = Clock_Ip_au8ClockFeatures[_1][0];
  Instance_27 = (uint32) _2;
  # DEBUG Instance => Instance_27
  # DEBUG BEGIN_STMT
  _4 = Clock_Ip_au8ClockFeatures[_1][4];
  SelectorIndex_28 = (uint32) _4;
  # DEBUG SelectorIndex => SelectorIndex_28
  # DEBUG BEGIN_STMT
  _6 = Clock_Ip_au8ClockFeatures[_1][5];
  DividerIndex_29 = (uint32) _6;
  # DEBUG DividerIndex => DividerIndex_29
  # DEBUG BEGIN_STMT
  _7 = Clock_Ip_au8ClockFeatures[_1][2];
  _8 = (int) _7;
  DividerMask_30 = Clock_Ip_axFeatureExtensions[_8].DividerValueMask;
  # DEBUG DividerMask => DividerMask_30
  # DEBUG BEGIN_STMT
  DividerShift_31 = Clock_Ip_axFeatureExtensions[_8].DividerValueShift;
  # DEBUG DividerShift => DividerShift_31
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG TimeoutOccurred => 0
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _9 = Config_26(D)->Value;
  if (_9 != 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 4>; [50.00%]

  <bb 3> [local count: 57431765]:
  # DEBUG BEGIN_STMT
  _10 = Clock_Ip_apxCgm[Instance_27][SelectorIndex_28];
  RegValue_33 ={v} _10->Divider[DividerIndex_29];
  # DEBUG RegValue => RegValue_33
  # DEBUG BEGIN_STMT
  # DEBUG D#1 => ~DividerMask_30
  # DEBUG RegValue => D#1 & RegValue_33
  # DEBUG BEGIN_STMT
  _11 = _9 + 4294967295;
  _12 = _11 << DividerShift_31;
  _32 = _12 ^ RegValue_33;
  _46 = DividerMask_30 & _32;
  RegValue_34 = RegValue_33 ^ _46;
  # DEBUG RegValue => RegValue_34
  # DEBUG BEGIN_STMT
  _10->Divider[DividerIndex_29] ={v} RegValue_34;

  <bb 4> [local count: 114863530]:
  # DEBUG BEGIN_STMT
  Clock_Ip_StartTimeout (&StartTime, &ElapsedTime, &TimeoutTicks, 50000);

  <bb 5> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _13 = Clock_Ip_apxCgm[Instance_27][SelectorIndex_28];
  _14 ={v} _13->MUX_DIV_UPD_STAT;
  DividerStatus_37 = _14 & 1;
  # DEBUG DividerStatus => DividerStatus_37
  # DEBUG BEGIN_STMT
  TimeoutTicks.1_15 = TimeoutTicks;
  TimeoutOccurred_39 = Clock_Ip_TimeoutExpired (&StartTime, &ElapsedTime, TimeoutTicks.1_15);
  # DEBUG TimeoutOccurred => TimeoutOccurred_39
  # DEBUG BEGIN_STMT
  if (DividerStatus_37 != 0)
    goto <bb 6>; [94.50%]
  else
    goto <bb 7>; [5.50%]

  <bb 6> [local count: 1014686026]:
  if (TimeoutOccurred_39 != 0)
    goto <bb 7>; [5.50%]
  else
    goto <bb 13>; [94.50%]

  <bb 13> [local count: 958878296]:
  goto <bb 5>; [100.00%]

  <bb 7> [local count: 114863531]:
  # _3 = PHI <_13(5), _13(6)>
  # TimeoutOccurred_5 = PHI <TimeoutOccurred_39(5), TimeoutOccurred_39(6)>
  # DEBUG BEGIN_STMT
  if (TimeoutOccurred_5 != 0)
    goto <bb 11>; [33.00%]
  else
    goto <bb 8>; [67.00%]

  <bb 8> [local count: 76958566]:
  # DEBUG BEGIN_STMT
  _16 = Config_26(D)->Value;
  if (_16 != 0)
    goto <bb 9>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 9> [local count: 38479283]:
  # DEBUG BEGIN_STMT
  _17 ={v} _3->Divider[DividerIndex_29];
  _18 = _17 | 2147483648;
  _3->Divider[DividerIndex_29] ={v} _18;
  goto <bb 12>; [100.00%]

  <bb 10> [local count: 38479283]:
  # DEBUG BEGIN_STMT
  _19 ={v} _3->Divider[DividerIndex_29];
  _20 = _19 & 2147483647;
  _3->Divider[DividerIndex_29] ={v} _20;
  goto <bb 12>; [100.00%]

  <bb 11> [local count: 37904965]:
  # DEBUG BEGIN_STMT
  _21 = Config_26(D)->Name;
  Clock_Ip_ReportClockErrors (1, _21);

  <bb 12> [local count: 114863531]:
  StartTime ={v} {CLOBBER};
  ElapsedTime ={v} {CLOBBER};
  TimeoutTicks ={v} {CLOBBER};
  return;

}


Clock_Ip_Callback_DividerEmpty (const struct Clock_Ip_DividerConfigType * Config)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  return;

}


