Dump after hash based groups
Congruence classes: 20 with total: 21 items (in a non-singular class: 2)
Class size histogram [number of members]: number of classes
     1:     19
     2:      1
Dump after WPA based types groups
Congruence classes: 20 with total: 21 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     21
Worklist has been filled with: 16
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 20 with total: 21 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     21
Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 20 with total: 21 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     21
Worklist has been filled with: 16
Address reference subdivision created: 0 new classes.
Congruence classes: 20 with total: 21 items (in a non-singular class: 0)
Class size histogram [number of members]: number of classes
     1:     21

Item count: 21
Congruent classes before: 21, after: 21
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Totally needed symbols: 0, fraction of loaded symbols: 0.00%

Xrdc_Ip_GetDomainIDErrorStatus_Privileged.part.0 (uint32 u32Instance, struct Xrdc_Ip_DomainIDErrStatusType * pXrdcDomainIDErrorStatus)
{
  uint8 u8counter;
  uint8 u8PACInstanceNumber;
  uint8 u8MCRInstanceNumber;
  volatile boolean x;
  volatile boolean x;
  long unsigned int _1;
  long unsigned int _2;
  unsigned char _3;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  volatile uint32 * _11;
  long unsigned int _13;
  long unsigned int _14;
  unsigned char _15;
  unsigned char _16;
  unsigned char _19;
  long unsigned int _20;
  long unsigned int _21;
  long unsigned int _22;
  volatile uint32 * _23;

  <bb 9> [local count: 118111600]:

  <bb 2> [local count: 118111600]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(volatile uint32 *)1076330736B];
  _2 = _1 >> 16;
  _3 = (unsigned char) _2;
  u8MCRInstanceNumber_4 = _3 + 1;
  # DEBUG u8MCRInstanceNumber => u8MCRInstanceNumber_4
  # DEBUG BEGIN_STMT
  # DEBUG u8counter => 0
  goto <bb 4>; [100.00%]

  <bb 3> [local count: 955630225]:
  # DEBUG BEGIN_STMT
  Xrdc_Ip_GetDetailError (u32Instance_5(D), u8counter_6, pXrdcDomainIDErrorStatus_7(D));
  # DEBUG BEGIN_STMT
  _8 = (long unsigned int) u8counter_6;
  _9 = _8 << 4;
  _10 = _9 + 1076331532;
  _11 = (volatile uint32 *) _10;
  *_11 ={v} 1073741824;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  u8counter_12 = u8counter_6 + 1;
  # DEBUG u8counter => u8counter_12

  <bb 4> [local count: 1073741824]:
  # u8counter_6 = PHI <0(2), u8counter_12(3)>
  # DEBUG u8counter => u8counter_6
  # DEBUG BEGIN_STMT
  if (u8MCRInstanceNumber_4 > u8counter_6)
    goto <bb 3>; [89.00%]
  else
    goto <bb 5>; [11.00%]

  <bb 5> [local count: 118111600]:
  # DEBUG BEGIN_STMT
  _13 ={v} MEM[(volatile uint32 *)1076330736B];
  _14 = _13 >> 24;
  _15 = (unsigned char) _14;
  _16 = _15 & 15;
  u8PACInstanceNumber_17 = _16 + 1;
  # DEBUG u8PACInstanceNumber => u8PACInstanceNumber_17
  # DEBUG BEGIN_STMT
  # DEBUG u8counter => 0
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 955630225]:
  # DEBUG BEGIN_STMT
  _19 = u8counter_18 + 16;
  Xrdc_Ip_GetDetailError (u32Instance_5(D), _19, pXrdcDomainIDErrorStatus_7(D));
  # DEBUG BEGIN_STMT
  _20 = (long unsigned int) u8counter_18;
  _21 = _20 << 4;
  _22 = _21 + 1076331532;
  _23 = (volatile uint32 *) _22;
  *_23 ={v} 1073741824;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  u8counter_24 = u8counter_18 + 1;
  # DEBUG u8counter => u8counter_24

  <bb 7> [local count: 1073741824]:
  # u8counter_18 = PHI <0(5), u8counter_24(6)>
  # DEBUG u8counter => u8counter_18
  # DEBUG BEGIN_STMT
  if (u8PACInstanceNumber_17 > u8counter_18)
    goto <bb 6>; [89.00%]
  else
    goto <bb 8>; [11.00%]

  <bb 8> [local count: 118111600]:
  return;

}


Xrdc_Ip_LockProcessID_Privileged.part.0 (uint8 u8MasterCore)
{
  volatile boolean x;
  volatile boolean x;
  long unsigned int _2;
  long unsigned int _3;
  long unsigned int _4;
  volatile uint32 * _5;
  long unsigned int _6;
  long unsigned int _7;

  <bb 3> [local count: 1073741824]:

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _2 = (long unsigned int) u8MasterCore_1(D);
  _3 = _2 << 2;
  _4 = _3 + 1076332288;
  _5 = (volatile uint32 *) _4;
  _6 ={v} *_5;
  _7 = _6 | 1610612736;
  *_5 ={v} _7;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  return;

}


Xrdc_Ip_SetProcessID_Privileged.part.0 (uint8 u8MasterCore, uint8 u8Pid, Xrdc_Ip_SecureAttributeType eSecureAttr)
{
  volatile boolean x;
  volatile boolean x;
  volatile boolean x;
  long unsigned int _1;
  long unsigned int _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _7;
  long unsigned int _8;
  volatile uint32 * _9;
  long unsigned int _10;
  long unsigned int _11;
  unsigned char _13;
  long unsigned int _14;
  long unsigned int _15;
  long unsigned int _16;
  long unsigned int _17;
  long unsigned int _18;
  volatile uint32 * _19;
  long unsigned int _20;
  long unsigned int _21;
  unsigned char _22;
  long unsigned int _23;
  long unsigned int _24;

  <bb 7> [local count: 1073741824]:

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _1 ={v} MEM[(volatile uint32 *)1076330744B];
  _3 = (long unsigned int) u8MasterCore_2(D);
  _4 = _1 >> _3;
  _5 = _4 & 1;
  if (_5 == 0)
    goto <bb 3>; [50.00%]
  else
    goto <bb 6>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  if (eSecureAttr_6(D) == 1)
    goto <bb 4>; [34.00%]
  else
    goto <bb 5>; [66.00%]

  <bb 4> [local count: 182536112]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  SchM_Enter_Rm_RM_EXCLUSIVE_AREA_00 ();
  # DEBUG BEGIN_STMT
  _7 = _3 << 2;
  _8 = _7 + 1076332288;
  _9 = (volatile uint32 *) _8;
  _10 ={v} *_9;
  _11 = _10 & 4294967232;
  _13 = u8Pid_12(D) & 31;
  _14 = (long unsigned int) _13;
  _15 = _11 | _14;
  _16 = _15 | 32;
  *_9 ={v} _16;
  # DEBUG BEGIN_STMT
  SchM_Exit_Rm_RM_EXCLUSIVE_AREA_00 ();
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  goto <bb 6>; [100.00%]

  <bb 5> [local count: 354334800]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  SchM_Enter_Rm_RM_EXCLUSIVE_AREA_00 ();
  # DEBUG BEGIN_STMT
  _17 = _3 << 2;
  _18 = _17 + 1076332288;
  _19 = (volatile uint32 *) _18;
  _20 ={v} *_19;
  _21 = _20 & 4294967232;
  _22 = u8Pid_12(D) & 31;
  _23 = (long unsigned int) _22;
  _24 = _21 | _23;
  *_19 ={v} _24;
  # DEBUG BEGIN_STMT
  SchM_Exit_Rm_RM_EXCLUSIVE_AREA_00 ();
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");

  <bb 6> [local count: 1073741824]:
  return;

}


Xrdc_Ip_Init_Privileged.part.0 (const struct Xrdc_Ip_ConfigType * pXrdcConfig)
{
  uint32 u32counter;
  volatile boolean x;
  volatile boolean x;
  volatile boolean x;
  volatile boolean x;
  volatile boolean x;
  const struct Xrdc_Ip_PeripheralConfigType * _2;
  _Bool _3;
  _Bool x.0_4;
  const struct Xrdc_Ip_DomainConfigType * _5;
  _Bool _6;
  _Bool x.0_7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _12;
  const struct Xrdc_Ip_MemConfigType * _13;
  long unsigned int _15;
  const struct Xrdc_Ip_MemConfigType * _16;
  long unsigned int _18;
  const struct Xrdc_Ip_PeripheralConfigType * _19;
  long unsigned int _21;
  const struct Xrdc_Ip_PeripheralConfigType * _22;
  long unsigned int _24;
  const struct Xrdc_Ip_DomainConfigType * _25;
  long unsigned int _27;
  const struct Xrdc_Ip_DomainConfigType * _28;
  long unsigned int _30;
  long unsigned int _31;
  long unsigned int _32;
  long unsigned int _35;

  <bb 26> [local count: 21262216]:

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = pXrdcConfig_1(D)->pPeripheralDescriptorConfig;
  _3 = _2 != 0B;
  x ={v} _3;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_4 ={v} x;
  if (x.0_4 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 3>; [50.00%]

  <bb 3> [local count: 10631108]:

  <bb 4> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 5> [local count: 1073741824]:
  goto <bb 4>; [100.00%]

  <bb 6> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _5 = pXrdcConfig_1(D)->pDomainConfig;
  _6 = _5 != 0B;
  x ={v} _6;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_7 ={v} x;
  if (x.0_7 != 0)
    goto <bb 8>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5315554]:
  goto <bb 10>; [100.00%]

  <bb 8> [local count: 5315554]:
  goto <bb 12>; [100.00%]

  <bb 9> [local count: 536870913]:

  <bb 10> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  goto <bb 9>; [100.00%]

  <bb 11> [local count: 43007664]:
  # DEBUG BEGIN_STMT
  _8 ={v} MEM[(volatile uint32 *)1076330496B];
  _9 = _8 & 4294967294;
  MEM[(volatile uint32 *)1076330496B] ={v} _9;
  # DEBUG BEGIN_STMT
  u32counter_11 = u32counter_10 + 1;
  # DEBUG u32counter => u32counter_11

  <bb 12> [local count: 48323218]:
  # u32counter_10 = PHI <0(8), u32counter_11(11)>
  # DEBUG x => NULL
  # DEBUG u32counter => u32counter_10
  # DEBUG BEGIN_STMT
  _12 = pXrdcConfig_1(D)->u32InstanceInUsedCnt;
  if (u32counter_10 < _12)
    goto <bb 11>; [89.00%]
  else
    goto <bb 13>; [11.00%]

  <bb 13> [local count: 5315554]:
  goto <bb 15>; [100.00%]

  <bb 14> [local count: 43007664]:
  # DEBUG BEGIN_STMT
  _13 = pXrdcConfig_1(D)->pMemoryDesConfig;
  _15 = u32counter_14 * 40;
  _16 = _13 + _15;
  Xrdc_Memory_Config_Descriptor (_16);
  # DEBUG BEGIN_STMT
  u32counter_17 = u32counter_14 + 1;
  # DEBUG u32counter => u32counter_17

  <bb 15> [local count: 48323218]:
  # u32counter_14 = PHI <0(13), u32counter_17(14)>
  # DEBUG u32counter => u32counter_14
  # DEBUG BEGIN_STMT
  _18 = pXrdcConfig_1(D)->u32MemoryConfigCnt;
  if (u32counter_14 < _18)
    goto <bb 14>; [89.00%]
  else
    goto <bb 16>; [11.00%]

  <bb 16> [local count: 5315554]:
  goto <bb 18>; [100.00%]

  <bb 17> [local count: 43007664]:
  # DEBUG BEGIN_STMT
  _19 = pXrdcConfig_1(D)->pPeripheralDescriptorConfig;
  _21 = u32counter_20 * 24;
  _22 = _19 + _21;
  Xrdc_Peripheral_Access_Config (_22);
  # DEBUG BEGIN_STMT
  u32counter_23 = u32counter_20 + 1;
  # DEBUG u32counter => u32counter_23

  <bb 18> [local count: 48323218]:
  # u32counter_20 = PHI <0(16), u32counter_23(17)>
  # DEBUG u32counter => u32counter_20
  # DEBUG BEGIN_STMT
  _24 = pXrdcConfig_1(D)->u32PeripheralConfigCnt;
  if (u32counter_20 < _24)
    goto <bb 17>; [89.00%]
  else
    goto <bb 19>; [11.00%]

  <bb 19> [local count: 5315554]:
  goto <bb 21>; [100.00%]

  <bb 20> [local count: 43007664]:
  # DEBUG BEGIN_STMT
  _25 = pXrdcConfig_1(D)->pDomainConfig;
  _27 = u32counter_26 * 44;
  _28 = _25 + _27;
  Xrdc_Domain_Init (_28);
  # DEBUG BEGIN_STMT
  u32counter_29 = u32counter_26 + 1;
  # DEBUG u32counter => u32counter_29

  <bb 21> [local count: 48323218]:
  # u32counter_26 = PHI <0(19), u32counter_29(20)>
  # DEBUG u32counter => u32counter_26
  # DEBUG BEGIN_STMT
  _30 = pXrdcConfig_1(D)->u32DomainConfigCnt;
  if (u32counter_26 < _30)
    goto <bb 20>; [89.00%]
  else
    goto <bb 22>; [11.00%]

  <bb 22> [local count: 5315554]:
  goto <bb 24>; [100.00%]

  <bb 23> [local count: 43007664]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _31 ={v} MEM[(volatile uint32 *)1076330496B];
  _32 = _31 | 1;
  MEM[(volatile uint32 *)1076330496B] ={v} _32;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  u32counter_34 = u32counter_33 + 1;
  # DEBUG u32counter => u32counter_34

  <bb 24> [local count: 48323218]:
  # u32counter_33 = PHI <0(22), u32counter_34(23)>
  # DEBUG u32counter => u32counter_33
  # DEBUG BEGIN_STMT
  _35 = pXrdcConfig_1(D)->u32InstanceInUsedCnt;
  if (u32counter_33 < _35)
    goto <bb 23>; [89.00%]
  else
    goto <bb 25>; [11.00%]

  <bb 25> [local count: 5315554]:
  return;

}


Xrdc_Ip_GetDomainIDErrorStatus (uint32 u32Instance, struct Xrdc_Ip_DomainIDErrStatusType * pXrdcDomainIDErrorStatus)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Xrdc_Ip_GetDomainIDErrorStatus_Privileged (u32Instance_2(D), pXrdcDomainIDErrorStatus_3(D));
  return;

}


Xrdc_Ip_LockProcessID (uint8 u8MasterCore)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Xrdc_Ip_LockProcessID_Privileged (u8MasterCore_2(D));
  return;

}


Xrdc_Ip_SetProcessID (uint8 u8MasterCore, uint8 u8Pid, Xrdc_Ip_SecureAttributeType eSecureAttr)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Xrdc_Ip_SetProcessID_Privileged (u8MasterCore_2(D), u8Pid_3(D), eSecureAttr_4(D));
  return;

}


Xrdc_Ip_GetDomainID (uint32 u32Instance)
{
  uint32 _4;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  _4 = Xrdc_Ip_GetDomainID_Privileged (u32Instance_2(D));
  return _4;

}


Xrdc_Ip_Init (const struct Xrdc_Ip_ConfigType * pXrdcConfig)
{
  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  Xrdc_Ip_Init_Privileged (pXrdcConfig_2(D));
  return;

}


Xrdc_Ip_GetDomainIDErrorStatus_Privileged (uint32 u32Instance, struct Xrdc_Ip_DomainIDErrStatusType * pXrdcDomainIDErrorStatus)
{
  volatile boolean x;
  volatile boolean x;
  _Bool _1;
  _Bool _2;
  _Bool x.0_7;
  _Bool x.0_8;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = u32Instance_4(D) == 0;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_8 ={v} x;
  if (x.0_8 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 8> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = pXrdcDomainIDErrorStatus_6(D) != 0B;
  x ={v} _2;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_7 ={v} x;
  if (x.0_7 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  Xrdc_Ip_GetDomainIDErrorStatus_Privileged.part.0 (u32Instance_4(D), pXrdcDomainIDErrorStatus_6(D));
  return;

}


Xrdc_Ip_GetDetailError (uint32 u32Instance, uint8 u8SubInstance, struct Xrdc_Ip_DomainIDErrStatusType * pXrdcDomainIDErrorStatus)
{
  volatile uint32 u32DomainIDAccess;
  uint32 u32ErrorStatus;
  uint32 u32ErrorState;
  uint32 u32ErrorAcces;
  long unsigned int _1;
  long unsigned int _2;
  long unsigned int _3;
  volatile uint32 * _4;
  int _5;
  int _6;
  int _7;
  long unsigned int _8;
  long unsigned int u32DomainIDAccess.3_9;
  long unsigned int u32DomainIDAccess.4_10;
  long unsigned int _11;
  volatile uint32 * _12;
  int _13;
  long unsigned int _14;
  long unsigned int _15;
  volatile uint32 * _16;
  long unsigned int _17;
  long unsigned int _18;
  long unsigned int _19;
  long unsigned int _20;
  long unsigned int _21;
  long unsigned int _22;
  unsigned int _45;

  <bb 2> [local count: 1073741823]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = (long unsigned int) u8SubInstance_27(D);
  _2 = _1 << 4;
  _3 = _2 + 1076331524;
  _4 = (volatile uint32 *) _3;
  u32ErrorStatus_29 ={v} *_4;
  # DEBUG u32ErrorStatus => u32ErrorStatus_29
  # DEBUG BEGIN_STMT
  u32ErrorState_30 = u32ErrorStatus_29 >> 30;
  # DEBUG u32ErrorState => u32ErrorState_30
  # DEBUG BEGIN_STMT
  if (u32ErrorState_30 <= 1)
    goto <bb 3>; [41.00%]
  else
    goto <bb 4>; [59.00%]

  <bb 3> [local count: 440234143]:
  # DEBUG BEGIN_STMT
  _5 = (int) u8SubInstance_27(D);
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_5].ErrState = 0;
  goto <bb 7>; [100.00%]

  <bb 4> [local count: 633507680]:
  # DEBUG BEGIN_STMT
  if (u32ErrorState_30 == 2)
    goto <bb 5>; [34.00%]
  else
    goto <bb 6>; [66.00%]

  <bb 5> [local count: 215392613]:
  # DEBUG BEGIN_STMT
  _6 = (int) u8SubInstance_27(D);
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_6].ErrState = 1;
  goto <bb 7>; [100.00%]

  <bb 6> [local count: 418115066]:
  # DEBUG BEGIN_STMT
  _7 = (int) u8SubInstance_27(D);
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_7].ErrState = 2;

  <bb 7> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  if (u32ErrorState_30 > 1)
    goto <bb 8>; [59.00%]
  else
    goto <bb 15>; [41.00%]

  <bb 8> [local count: 633507681]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _8 ={v} MEM[(volatile uint32 *)1076330740B];
  u32DomainIDAccess ={v} _8;
  # DEBUG BEGIN_STMT
  u32DomainIDAccess.3_9 ={v} u32DomainIDAccess;
  if (u32DomainIDAccess.3_9 <= 2)
    goto <bb 9>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 9> [local count: 316753840]:
  # DEBUG BEGIN_STMT
  u32DomainIDAccess.4_10 ={v} u32DomainIDAccess;
  pXrdcDomainIDErrorStatus_31(D)->DomainIDAccessError = u32DomainIDAccess.4_10;
  goto <bb 11>; [100.00%]

  <bb 10> [local count: 316753840]:
  # DEBUG BEGIN_STMT
  pXrdcDomainIDErrorStatus_31(D)->DomainIDAccessError = 255;

  <bb 11> [local count: 633507681]:
  # DEBUG BEGIN_STMT
  _11 = _2 + 1076331520;
  _12 = (volatile uint32 *) _11;
  _13 = (int) u8SubInstance_27(D);
  _14 ={v} *_12;
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_13].u32AddError = _14;
  # DEBUG BEGIN_STMT
  _15 = _2 + 1076331528;
  _16 = (volatile uint32 *) _15;
  _17 ={v} *_16;
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_13].u32AddErrorRemain = _17;
  # DEBUG BEGIN_STMT
  _18 = u32ErrorStatus_29 >> 24;
  _19 = _18 & 7;
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_13].u32ErrPort = _19;
  # DEBUG BEGIN_STMT
  _20 = u32ErrorStatus_29 >> 11;
  u32ErrorAcces_41 = _20 & 1;
  # DEBUG u32ErrorAcces => u32ErrorAcces_41
  # DEBUG BEGIN_STMT
  if (u32ErrorAcces_41 == 0)
    goto <bb 12>; [50.00%]
  else
    goto <bb 13>; [50.00%]

  <bb 12> [local count: 316753840]:
  # DEBUG BEGIN_STMT
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_13].ErrAccess = 1;
  goto <bb 14>; [100.00%]

  <bb 13> [local count: 316753840]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_13].ErrAccess = 2;

  <bb 14> [local count: 633507681]:
  # DEBUG BEGIN_STMT
  _21 = u32ErrorStatus_29 >> 8;
  _22 = _21 & 7;
  # DEBUG u32ErrorAttribute => _22
  # DEBUG INLINE_ENTRY NULL
  # DEBUG BEGIN_STMT
  # DEBUG errorStatus => 0
  # DEBUG BEGIN_STMT
  _45 = _22 + 1;
  # DEBUG errorStatus => _45
  # DEBUG BEGIN_STMT
  # DEBUG u32ErrorAttribute => NULL
  # DEBUG errorStatus => NULL
  pXrdcDomainIDErrorStatus_31(D)->ErrorStatus[_13].ErrAttribute = _45;

  <bb 15> [local count: 1073741824]:
  return;

}


Xrdc_Ip_LockProcessID_Privileged (uint8 u8MasterCore)
{
  volatile boolean x;
  volatile boolean x;
  _Bool _1;
  int _2;
  _Bool _3;
  _Bool x.0_7;
  _Bool x.0_8;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  _1 = u8MasterCore_5(D) <= 4;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_8 ={v} x;
  if (x.0_8 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 8> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = (int) u8MasterCore_5(D);
  _3 = g_bAvailablePidRegisters[_2];
  x ={v} _3;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_7 ={v} x;
  if (x.0_7 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  Xrdc_Ip_LockProcessID_Privileged.part.0 (u8MasterCore_5(D));
  return;

}


Xrdc_Ip_SetProcessID_Privileged (uint8 u8MasterCore, uint8 u8Pid, Xrdc_Ip_SecureAttributeType eSecureAttr)
{
  volatile boolean x;
  volatile boolean x;
  volatile boolean x;
  _Bool _1;
  _Bool _2;
  int _3;
  _Bool _4;
  _Bool x.0_10;
  _Bool x.0_11;
  _Bool x.0_12;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  _1 = u8MasterCore_6(D) <= 4;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_12 ={v} x;
  if (x.0_12 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 11> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 14> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = u8Pid_8(D) <= 30;
  x ={v} _2;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_11 ={v} x;
  if (x.0_11 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 10> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 13> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _3 = (int) u8MasterCore_6(D);
  _4 = g_bAvailablePidRegisters[_3];
  x ={v} _4;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_10 ={v} x;
  if (x.0_10 != 0)
    goto <bb 8>; [50.00%]
  else
    goto <bb 9>; [50.00%]

  <bb 9> [local count: 2657777]:

  <bb 7> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 12> [local count: 268435456]:
  goto <bb 7>; [100.00%]

  <bb 8> [local count: 2657777]:
  Xrdc_Ip_SetProcessID_Privileged.part.0 (u8MasterCore_6(D), u8Pid_8(D), eSecureAttr_9(D));
  return;

}


Xrdc_Ip_Init_Privileged (const struct Xrdc_Ip_ConfigType * pXrdcConfig)
{
  volatile boolean x;
  volatile boolean x;
  volatile boolean x;
  _Bool _1;
  long unsigned int _2;
  _Bool _3;
  const struct Xrdc_Ip_MemConfigType * _4;
  _Bool _5;
  _Bool x.0_9;
  _Bool x.0_10;
  _Bool x.0_11;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  # DEBUG u32counter => 0
  # DEBUG BEGIN_STMT
  _1 = pXrdcConfig_7(D) != 0B;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_11 ={v} x;
  if (x.0_11 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 11> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 14> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = pXrdcConfig_7(D)->u32DomainConfigCnt;
  _3 = _2 != 0;
  x ={v} _3;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_10 ={v} x;
  if (x.0_10 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 10>; [50.00%]

  <bb 10> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 13> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _4 = pXrdcConfig_7(D)->pMemoryDesConfig;
  _5 = _4 != 0B;
  x ={v} _5;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_9 ={v} x;
  if (x.0_9 != 0)
    goto <bb 8>; [50.00%]
  else
    goto <bb 9>; [50.00%]

  <bb 9> [local count: 2657777]:

  <bb 7> [local count: 268435456]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 12> [local count: 268435456]:
  goto <bb 7>; [100.00%]

  <bb 8> [local count: 2657777]:
  Xrdc_Ip_Init_Privileged.part.0 (pXrdcConfig_7(D));
  return;

}


Xrdc_Ip_GetDomainID_Privileged (uint32 u32Instance)
{
  uint32 u32Value;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  u32Value_4 ={v} MEM[(volatile uint32 *)1076330740B];
  # DEBUG u32Value => u32Value_4
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  return u32Value_4;

}


Xrdc_Get_Secure_Attribute (Xrdc_Ip_SecureAttributeType eXrdcSecure)
{
  uint32 Ret;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (eXrdcSecure_2(D) == 1)
    goto <bb 5>; [21.72%]
  else
    goto <bb 3>; [78.28%]

  <bb 3> [local count: 840525097]:
  # DEBUG BEGIN_STMT
  if (eXrdcSecure_2(D) == 0)
    goto <bb 5>; [65.00%]
  else
    goto <bb 4>; [35.00%]

  <bb 4> [local count: 294183785]:
  # DEBUG BEGIN_STMT
  # DEBUG Ret => 192

  <bb 5> [local count: 1073741824]:
  # Ret_1 = PHI <64(2), 0(3), 192(4)>
  # DEBUG Ret => Ret_1
  # DEBUG BEGIN_STMT
  return Ret_1;

}


Xrdc_Get_Priviledge_Attribute (Xrdc_Ip_PriviledgedAttributeType eXrdcPriviledge)
{
  uint32 Ret;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  if (eXrdcPriviledge_2(D) == 0)
    goto <bb 5>; [50.00%]
  else
    goto <bb 3>; [50.00%]

  <bb 3> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  if (eXrdcPriviledge_2(D) == 1)
    goto <bb 5>; [34.00%]
  else
    goto <bb 4>; [66.00%]

  <bb 4> [local count: 354334800]:
  # DEBUG BEGIN_STMT
  # DEBUG Ret => 48

  <bb 5> [local count: 1073741824]:
  # Ret_1 = PHI <0(2), 16(3), 48(4)>
  # DEBUG Ret => Ret_1
  # DEBUG BEGIN_STMT
  return Ret_1;

}


Xrdc_Domain_Init (const struct Xrdc_Ip_DomainConfigType * pDomainConfig)
{
  volatile boolean x;
  volatile boolean x;
  uint32 u32UserAtt;
  uint32 u32SecureAtt;
  _Bool _1;
  long unsigned int _2;
  _Bool _3;
  <unnamed type> _4;
  <unnamed type> _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int _14;
  <unnamed type> _15;
  long unsigned int _16;
  long unsigned int _17;
  long unsigned int _18;
  long unsigned int _19;
  long unsigned int _20;
  long unsigned int _21;
  volatile uint32 * _22;
  long unsigned int _23;
  <unnamed type> _24;
  long unsigned int _25;
  <unnamed type> _26;
  long unsigned int _27;
  long unsigned int _28;
  volatile uint32 * _29;
  long unsigned int _30;
  <unnamed type> _31;
  <unnamed type> _32;
  <unnamed type> _33;
  long unsigned int _34;
  long unsigned int _35;
  volatile uint32 * _36;
  long unsigned int _37;
  long unsigned int _38;
  long unsigned int _39;
  long unsigned int _40;
  _Bool x.0_45;
  _Bool x.0_47;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  _1 = pDomainConfig_42(D) != 0B;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_45 ={v} x;
  if (x.0_45 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 12>; [50.00%]

  <bb 12> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 14> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = pDomainConfig_42(D)->u32XrdcInstance;
  _3 = _2 == 0;
  x ={v} _3;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_47 ={v} x;
  if (x.0_47 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 11>; [50.00%]

  <bb 11> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 13> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _4 = pDomainConfig_42(D)->XrdcCoreMdacInstance;
  if (_4 == 0)
    goto <bb 7>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 7> [local count: 2657777]:
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _5 = pDomainConfig_42(D)->u32XrdcDomainID;
  _6 = _5 & 7;
  _7 = pDomainConfig_42(D)->u32XrdcProcessIDEnable;
  _8 = _6 | _7;
  _9 = pDomainConfig_42(D)->u32XrdcProcessID;
  _10 = _9 << 16;
  _11 = _8 | _10;
  _12 = pDomainConfig_42(D)->u32XrdcProcessIDMask;
  _13 = _12 << 8;
  _14 = _11 | _13;
  _15 = pDomainConfig_42(D)->XrdcMdacInstance;
  _16 = _15 << 5;
  _17 = _16 + 1076330496;
  _18 = pDomainConfig_42(D)->u32XrdcWordDescriptor;
  _19 = _18 << 2;
  _20 = _17 + _19;
  _21 = _20 + 2048;
  _22 = (volatile uint32 *) _21;
  _23 = _14 | 2147483648;
  *_22 ={v} _23;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  goto <bb 10>; [100.00%]

  <bb 8> [local count: 2657777]:
  # DEBUG BEGIN_STMT
  if (_4 == 1)
    goto <bb 9>; [34.00%]
  else
    goto <bb 10>; [66.00%]

  <bb 9> [local count: 903644]:
  # DEBUG BEGIN_STMT
  _24 = pDomainConfig_42(D)->u32XrdcDomainID;
  _25 = _24 & 7;
  _26 = pDomainConfig_42(D)->XrdcMdacInstance;
  _27 = _26 << 5;
  _28 = _27 + 1076332544;
  _29 = (volatile uint32 *) _28;
  _30 = _25 | 2684354560;
  *_29 ={v} _30;
  # DEBUG BEGIN_STMT
  _31 = pDomainConfig_42(D)->eXrdcSecureOutput;
  u32SecureAtt_46 = Xrdc_Get_Secure_Attribute (_31);
  # DEBUG u32SecureAtt => u32SecureAtt_46
  # DEBUG BEGIN_STMT
  _32 = pDomainConfig_42(D)->eXrdcPriviledgeOutput;
  u32UserAtt_48 = Xrdc_Get_Priviledge_Attribute (_32);
  # DEBUG u32UserAtt => u32UserAtt_48
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _33 = pDomainConfig_42(D)->XrdcMdacInstance;
  _34 = _33 << 5;
  _35 = _34 + 1076332544;
  _36 = (volatile uint32 *) _35;
  _37 ={v} *_36;
  _38 = _37 & 4294967055;
  _39 = u32SecureAtt_46 | u32UserAtt_48;
  _40 = _38 | _39;
  *_36 ={v} _40;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");

  <bb 10> [local count: 5315554]:
  # DEBUG BEGIN_STMT
  return;

}


Xrdc_Peripheral_Access_Config (const struct Xrdc_Ip_PeripheralConfigType * pXrdcPerDescriptor)
{
  volatile boolean x;
  volatile boolean x;
  _Bool _1;
  long unsigned int _2;
  _Bool _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  long unsigned int _10;
  long unsigned int _11;
  volatile uint32 * _12;
  long unsigned int _13;
  long unsigned int _14;
  long unsigned int _15;
  long unsigned int _16;
  long unsigned int _17;
  long unsigned int _18;
  long unsigned int _19;
  long unsigned int _20;
  long unsigned int _21;
  long unsigned int _22;
  long unsigned int _23;
  long unsigned int _24;
  long unsigned int _25;
  long unsigned int _26;
  long unsigned int _27;
  long unsigned int _28;
  volatile uint32 * _29;
  long unsigned int _30;
  long unsigned int _31;
  long unsigned int _32;
  long unsigned int _33;
  long unsigned int _34;
  long unsigned int _35;
  long unsigned int _36;
  long unsigned int _37;
  long unsigned int _38;
  volatile uint32 * _39;
  long unsigned int _40;
  long unsigned int _41;
  long unsigned int _42;
  long unsigned int _43;
  long unsigned int _44;
  _Bool x.0_58;
  _Bool x.0_59;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  _1 = pXrdcPerDescriptor_45(D) != 0B;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_59 ={v} x;
  if (x.0_59 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 8> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = pXrdcPerDescriptor_45(D)->u32XrdcInstance;
  _3 = _2 == 0;
  x ={v} _3;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_58 ={v} x;
  if (x.0_58 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _4 = pXrdcPerDescriptor_45(D)->u32XrdcPdacInstance;
  _5 = _4 >> 7;
  _6 = _5 * 1024;
  _7 = _6 + 1076330496;
  _8 = _4 << 3;
  _9 = _8 & 1016;
  _10 = _7 + _9;
  _11 = _10 + 4100;
  _12 = (volatile uint32 *) _11;
  _13 ={v} *_12;
  _14 = _13 & 2147483647;
  *_12 ={v} _14;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _15 = pXrdcPerDescriptor_45(D)->u32XrdcSema4Enable;
  _16 = pXrdcPerDescriptor_45(D)->u32XrdcSema4Number;
  _17 = _16 << 24;
  _18 = _17 & 251658240;
  _19 = _15 | _18;
  _20 = pXrdcPerDescriptor_45(D)->u32XrdcPerPolicy;
  _21 = pXrdcPerDescriptor_45(D)->u32XrdcPdacInstance;
  _22 = _21 >> 7;
  _23 = _22 * 1024;
  _24 = _23 + 1076330496;
  _25 = _21 << 3;
  _26 = _25 & 1016;
  _27 = _24 + _26;
  _28 = _27 + 4096;
  _29 = (volatile uint32 *) _28;
  _30 = _19 | _20;
  *_29 ={v} _30;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _31 = pXrdcPerDescriptor_45(D)->u32XrdcPdacInstance;
  _32 = _31 >> 7;
  _33 = _32 * 1024;
  _34 = _33 + 1076330496;
  _35 = _31 << 3;
  _36 = _35 & 1016;
  _37 = _34 + _36;
  _38 = _37 + 4100;
  _39 = (volatile uint32 *) _38;
  _40 ={v} *_39;
  _41 = _40 & 2130706432;
  _42 = pXrdcPerDescriptor_45(D)->u32XrdcPerPolicy1;
  _43 = _41 | _42;
  _44 = _43 | 2147483648;
  *_39 ={v} _44;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  return;

}


Xrdc_Memory_Config_Descriptor (const struct Xrdc_Ip_MemConfigType * pXrdcMemDescriptor)
{
  volatile boolean x;
  volatile boolean x;
  _Bool _1;
  long unsigned int _2;
  _Bool _3;
  long unsigned int _4;
  long unsigned int _5;
  long unsigned int _6;
  long unsigned int _7;
  long unsigned int _8;
  long unsigned int _9;
  volatile uint32 * _10;
  long unsigned int _11;
  long unsigned int _12;
  long unsigned int _13;
  long unsigned int _14;
  long unsigned int _15;
  long unsigned int _16;
  long unsigned int _17;
  long unsigned int _18;
  long unsigned int _19;
  volatile uint32 * _20;
  long unsigned int _21;
  long unsigned int _22;
  long unsigned int _23;
  long unsigned int _24;
  long unsigned int _25;
  long unsigned int _26;
  long unsigned int _27;
  long unsigned int _28;
  volatile uint32 * _29;
  long unsigned int _30;
  long unsigned int _31;
  long unsigned int _32;
  long unsigned int _33;
  long unsigned int _34;
  long unsigned int _35;
  long unsigned int _36;
  long unsigned int _37;
  long unsigned int _38;
  long unsigned int _39;
  long unsigned int _40;
  long unsigned int _41;
  long unsigned int _42;
  volatile uint32 * _43;
  long unsigned int _44;
  long unsigned int _45;
  long unsigned int _46;
  long unsigned int _47;
  long unsigned int _48;
  long unsigned int _49;
  long unsigned int _50;
  volatile uint32 * _51;
  long unsigned int _52;
  long unsigned int _53;
  long unsigned int _54;
  long unsigned int _55;
  long unsigned int _56;
  _Bool x.0_72;
  _Bool x.0_73;

  <bb 2> [local count: 21262216]:
  # DEBUG BEGIN_STMT
  _1 = pXrdcMemDescriptor_57(D) != 0B;
  x ={v} _1;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_73 ={v} x;
  if (x.0_73 != 0)
    goto <bb 4>; [50.00%]
  else
    goto <bb 8>; [50.00%]

  <bb 8> [local count: 10631108]:

  <bb 3> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 10> [local count: 1073741824]:
  goto <bb 3>; [100.00%]

  <bb 4> [local count: 10631108]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  _2 = pXrdcMemDescriptor_57(D)->u32XrdcInstance;
  _3 = _2 == 0;
  x ={v} _3;
  # DEBUG x => x
  # DEBUG INLINE_ENTRY DevAssert
  # DEBUG BEGIN_STMT
  x.0_72 ={v} x;
  if (x.0_72 != 0)
    goto <bb 6>; [50.00%]
  else
    goto <bb 7>; [50.00%]

  <bb 7> [local count: 5315554]:

  <bb 5> [local count: 536870913]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT

  <bb 9> [local count: 536870913]:
  goto <bb 5>; [100.00%]

  <bb 6> [local count: 5315554]:
  # DEBUG BEGIN_STMT
  # DEBUG x => NULL
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _4 = pXrdcMemDescriptor_57(D)->u32XrdcMrcInstance;
  _5 = _4 << 4;
  _6 = pXrdcMemDescriptor_57(D)->u32XrdcMrcRegionDescriptor;
  _7 = _5 + _6;
  _8 = _7 * 32;
  _9 = _8 + 1076338700;
  _10 = (volatile uint32 *) _9;
  _11 ={v} *_10;
  _12 = _11 & 2147483647;
  *_10 ={v} _12;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _13 = pXrdcMemDescriptor_57(D)->u32XrdcStartAddress;
  _14 = pXrdcMemDescriptor_57(D)->u32XrdcMrcInstance;
  _15 = _14 << 4;
  _16 = pXrdcMemDescriptor_57(D)->u32XrdcMrcRegionDescriptor;
  _17 = _15 + _16;
  _18 = _17 * 32;
  _19 = _18 + 1076338688;
  _20 = (volatile uint32 *) _19;
  _21 = _13 | 1;
  *_20 ={v} _21;
  # DEBUG BEGIN_STMT
  _22 = pXrdcMemDescriptor_57(D)->u32XrdcEndAddress;
  _23 = pXrdcMemDescriptor_57(D)->u32XrdcMrcInstance;
  _24 = _23 << 4;
  _25 = pXrdcMemDescriptor_57(D)->u32XrdcMrcRegionDescriptor;
  _26 = _24 + _25;
  _27 = _26 * 32;
  _28 = _27 + 1076338692;
  _29 = (volatile uint32 *) _28;
  _30 = _22 | 1;
  *_29 ={v} _30;
  # DEBUG BEGIN_STMT
  _31 = pXrdcMemDescriptor_57(D)->u32XrdcSema4Enable;
  _32 = pXrdcMemDescriptor_57(D)->u32XrdcSema4Number;
  _33 = _32 << 24;
  _34 = _33 & 251658240;
  _35 = _31 | _34;
  _36 = pXrdcMemDescriptor_57(D)->u32XrdcMemPolicy;
  _37 = pXrdcMemDescriptor_57(D)->u32XrdcMrcInstance;
  _38 = _37 << 4;
  _39 = pXrdcMemDescriptor_57(D)->u32XrdcMrcRegionDescriptor;
  _40 = _38 + _39;
  _41 = _40 * 32;
  _42 = _41 + 1076338696;
  _43 = (volatile uint32 *) _42;
  _44 = _35 | _36;
  *_43 ={v} _44;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  # DEBUG BEGIN_STMT
  _45 = pXrdcMemDescriptor_57(D)->u32XrdcMrcInstance;
  _46 = _45 << 4;
  _47 = pXrdcMemDescriptor_57(D)->u32XrdcMrcRegionDescriptor;
  _48 = _46 + _47;
  _49 = _48 * 32;
  _50 = _49 + 1076338700;
  _51 = (volatile uint32 *) _50;
  _52 ={v} *_51;
  _53 = _52 & 2130706432;
  _54 = pXrdcMemDescriptor_57(D)->u32XrdcMemPolicy1;
  _55 = _53 | _54;
  _56 = _55 | 2147483648;
  *_51 ={v} _56;
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" DSB");
  # DEBUG BEGIN_STMT
  __asm__ __volatile__(" ISB");
  return;

}


